<header>Jumia Reset password</header>

<strong>Dear {{ name }},</strong>

<p>We have received a request to reset your password for your Jumia account. If you made this request, please click on the link below to proceed. Otherwise, please ignore this email.</p>

<a href="{{ reset_link }}">Reset Password</a>

<p>If you have any questions or concerns, please don't hesitate to contact our support team at <a href="mailto:support@jumia.com">support@jumia.com</a>.</p>

<p>Best regards,</p>
<p>Jumia Support</p>

<p>P.S. This email may contain sensitive information, please ensure you are familiar with the content before clicking on the link.</p>
